body {
    font-family: 'Oswald', sans-serif;
    background-color: rgb(207, 220, 199);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(197, 218, 184);
    padding: 10px 20px;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    color: rgb(18, 162, 18);
}

.contact-info img {
    width: 20px;
    margin-right: 8px;
}

.contact-info address {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

.title-name {
    font-family: 'Kanit', sans-serif;
    display: flex;
    width: 100%;
    margin-top: 5px;
    margin-left: 50px; 
    font-size: 4cap;
    color: rgb(23, 125, 33);}

.intro {
    font-family: 'Roboto Mono', monospace;
    color: rgb(32, 70, 32);
}

.Education h2 {
    margin-top: 50px;
    width: 270px;
    text-align: center;
    color: rgb(182, 26, 182);
}

.Education ul {
    display: block;
    list-style: none;
}

.Education .l1 h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.Education .l1 {
    display: flexbox;
    margin: auto;
    position: relative;
}

.Education .l2 h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.Education .l2 {
    display: flexbox;
    margin: auto;
    position: relative;
    top: 20px;
}

.Intrest {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Intrest h2 {
    margin-top: 50px;
    width: 270px;
    text-align: center;
    color: rgb(182, 26, 182);
}

.Intrest ul {
    font-family: 'Kanit', sans-serif;
}

.Skills h2 {
    margin-top: 50px;
    width: 270px;
    text-align: center;
    color: rgb(182, 26, 182);
}

.Skills ul {
    font-family: 'Kanit', sans-serif;
}

.Courses h2 {
    margin-top: 50px;
    width: 270px;
    text-align: center;
    color: rgb(182, 26, 182);
}

.Courses ul {
    font-family: 'Kanit', sans-serif;
}

.Experience {
    display: flexbox;
    position: relative;
}

.Experience h2 {
    margin-top: 50px;
    width: 270px;
    text-align: center;
    color: rgb(182, 26, 182);
}

.Experience ul {
    display: block;
    list-style: none;
}

.Experience .l1 h4 {
    margin-bottom: 5px;
}

.Experience .l1 {
    display: flexbox;
    margin: auto;
    position: relative;
}

.Experience .l2 h4 {
    margin-bottom: 5px;
}

.Experience .l2 {
    display: flexbox;
    margin: auto;
    position: relative;
    top: 20px;
}

.decoration {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.line {
    height: 2px;
    width: 15%;
    background-color: rgb(13, 102, 12);
}

footer {
    background-color: rgb(197, 218, 184);
    text-align: center;
    padding: 10px 0;
}
